body 
  font-family monaco!important
  font-size 12px
  letter-spacing 1.8px
  margin 0
  padding 0
  overflow hidden

#cvs 
  background #FFDDE9

#prompt
  line-height 20px
  // border 1px solid rgba(38, 182, 253, 0.91)
  // border-radius 3px
  background rgba(95, 238, 241, 0.27)
  background rgba(0,0,255,0.3)
  padding 0px 6px
  width  180px
  position fixed
  left 50%
  top 50%
  margin-left 0
  margin-top -10px
  transition opacity 0.15s linear


#prompt input 
  outline  none
  color blue
  background rgba(95, 238, 241, 0.27)
  background transparent
  font-size 12px
  font-family monaco!important
  letter-spacing 1.8px
  border none
  width inherit
  text-transform uppercase

#prompt input:focus 
  outline none
  border none

#prompt span 
  position absolute
  background #FF8080
  width 180px
  height inherit
  padding 0 6px
  margin-left -6px
  color #77086D
  opacity 0
  transition display,opacity 0.15s linear

#prompt ul
  background rgba(0,0,255,0.1)
  position absolute
  margin-top 3px!important
  margin-left -3px!important
  width 240px

#prompt ul, #prompt ul li
  margin 0
  padding 0
  list-style none

#prompt ul li 
  float left
  clear both
  padding 0 6px
  border 1px solid rgba(0,0,0,0)

#prompt ul li i
  color blue
  font-size 11px
  letter-spacing 0.7px

#prompt ul li.selected
  border 1px solid blue

ul.print
  z-index 2
  position fixed
  display none
  width 200px
  height 225px
  border-radius 3px
  border 1px solid rgba(0, 0, 255, 0.33)
  background rgba(255, 255, 255, 0.63)
  margin 0
  padding 0
  overflow scroll

ul.print li
  margin 0
  padding 0 6px
  font-size 11px
  border-bottom 1px dashed #ccc

ul.print li b
  color #666
  font-weight 200
  letter-spacing 0
  font-size 9px
